.feature-box {
    margin: 1rem 8rem;
    flex-grow: 1;

    &__container {
        border: 1px $color-primary solid;
        border-radius: 3px;
        background-color: $color-grey-dark-1;
        margin: 2rem auto;
    }

    &__heading {
        text-transform: uppercase;
        letter-spacing: .5rem;
        font-size: 1.6rem;
        padding: 1rem 2rem;
        color: $color-primary;
    }

    &__list-box {
        padding: 1rem 2rem;
    }
    &__list {
        list-style: none;
        color: $color-white;
    }
}