*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    // base font: 10px= 1rem
    font-size: 62.5%;
}

body {
    box-sizing: border-box;

    display: flex;
    flex-direction: column;

    background-color: $color-black;
}