body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.6;
    letter-spacing: .05rem;
}

.heading-primary {
    font-size: 3rem;
    color: $color-white;
}