*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  background-color: #C2185B; }

.nav-items__logo {
  height: 4.5rem;
  width: 4.5rem;
  margin-left: 2rem; }

.nav-items__search-bar {
  border: none;
  border-radius: 50px;
  height: 2.5rem;
  background-color: #F5F5F5;
  padding: 0 2rem 0 2rem; }

.nav-items__profile {
  display: flex;
  align-items: center; }
  .nav-items__profile--img {
    height: 4.5rem;
    width: 4.5rem;
    border-radius: 50px; }
  .nav-items__profile--name {
    padding: 1rem; }

.side-items {
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-top: 3rem; }
  .side-items__profile-info {
    color: #F5F5F5;
    font-size: 2rem; }
  .side-items__profile-img {
    width: 8rem;
    height: 8rem;
    border-radius: 50px;
    margin: 2rem auto; }
  .side-items__item {
    list-style: none;
    font-size: 1.6rem;
    padding: 2rem 0 2rem 0; }
    .side-items__item:hover {
      background: #E91E63; }
  .side-items__link {
    text-decoration: none;
    text-transform: uppercase;
    color: #F5F5F5; }

.container {
  padding: 5rem 2rem;
  display: grid;
  grid-template-rows: 6rem min-content;
  grid-template-columns: [sidebar-start] 25rem [sidebar-end full-start] minmax(4rem, 1fr) [center-start] 1fr [center-end] minmax(4rem, 1fr) [full-end]; }

.navbar {
  background-color: white;
  grid-column: 1 / -1;
  display: flex;
  align-items: center;
  justify-content: space-between; }

.sidebar {
  background-color: #363636;
  grid-column: sidebar-start / sidebar-end;
  display: flex;
  flex-direction: column;
  align-items: stretch; }

.home {
  background-color: #F5F5F5;
  grid-column: full-start / full-end;
  height: 100vh; }
