// COLORS

$color-white: #ffffff;
$color-black: #000000;

$color-grey-dark-1: #242424;
$color-grey-dark-2: #454545;
$color-grey-dark-3: #636363;

$color-grey-light-1: #DEDEDE;

$color-primary-dark: #4FBCE0;
$color-primary-light: #56D0F8;