.btn {

    &__primary {
        border: none;
        background-color: $color-grey-light;
        color: $color-primary;
        font-size: 1.8rem;
        text-transform: uppercase;
        padding: 1.7rem 3rem;
        cursor: pointer;
        transition: all .2s;

        &:hover {
            background-color: $color-primary;
            color: $color-grey-light;
        }
    }

    &__secondary {
        border: none;
        border-radius: 5rem;
        background-color: $color-primary;
        color: $color-grey-light;
        font-size: 1.6rem;
        text-transform: uppercase;
        padding: 1.5rem 2.5rem;
        cursor: pointer;
        transition: all .2s;

        &:hover {
            background-color: $color-grey-light;
            color: $color-primary;
        }
    }
}