// COLORS

$color-grey-light: #f4f7f7;
$color-grey: #e0e9e9;
$color-grey-dark: #4d4d4d;

$color-black: #0a0e11;

$color-primary: #34495e;
$color-primary-light: #e4eaf0;

$color-secondary: #DEDECD;
$color-secondary-light: #EEEFE5;

$color-point: #922003;

// FONT

$font-primary: 'Raleway', sans-serif;