body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    color: $color-grey-light-1;
}

.heading-primary {
    color: $color-white;
    font-size: 5rem;
}

.highlight-primary {
    color: $color-primary;
}

.highlight-secondary {
    color: $color-secondary
}

.paragraph-primary {
    color: $color-grey-light-2;
    font-size: 1.4rem;
}

.paragraph-secondary {
    color: $color-white;
}