.container {
    padding: 5rem 2rem;
    display: grid;
    grid-template-rows: 6rem min-content;
    grid-template-columns:  [sidebar-start] 25rem
                            [sidebar-end full-start] minmax(4rem, 1fr)
                            [center-start] 1fr
                            [center-end] minmax(4rem, 1fr)
                            [full-end];
}