.button {
    border: none;
    background-color: transparent;
    cursor: pointer;

    &-primary {
        color: $color-white;
        background-color: $color-primary-dark;
        padding: 1rem 1.6rem;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 1.7rem;
        margin: 1rem;
        transition: .1s all;

        &:hover {
            background-color: $color-primary-light;
        }
    }
}